.page-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.page-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page-header {
  width: 138px;
  height: 93px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.page-image {
  width: 66px;
  height: 64px;
  object-fit: cover;
}
.page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.page-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.page-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-image1 {
  width: 100px;
  object-fit: cover;
}
.page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-icon {
  width: 24px;
  height: 24px;
}
.page-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-text {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.page-text:hover {
  color: var(--dl-color-turquoise-default);
}
.page-text1 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.page-text1:hover {
  color: var(--dl-color-turquoise-default);
}
.page-text2 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.page-text2:hover {
  color: var(--dl-color-turquoise-default);
}
.page-text3 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.page-text3:hover {
  color: var(--dl-color-turquoise-default);
}
.page-text4 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.page-text4:hover {
  color: var(--dl-color-turquoise-default);
}
.page-text5 {
  transition: 0.3s;
}
.page-text5:hover {
  color: var(--dl-color-turquoise-default);
}
.page-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.page-container02 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.page-link {
  display: contents;
}
.page-container03 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.page-icon02 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.page-icon02:hover {
  fill: var(--dl-color-purple-default);
}
.page-link1 {
  display: contents;
}
.page-container04 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.page-icon04 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.page-icon04:hover {
  fill: var(--dl-color-pink-default);
}
.page-link2 {
  display: contents;
}
.page-container05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.page-icon06 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.page-icon06:hover {
  fill: var(--dl-color-turquoise-default);
}
.page-link3 {
  display: contents;
}
.page-container06 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.page-icon08 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.page-icon08:hover {
  fill: var(--dl-color-orange-default);
}
.page-container07 {
  width: 100%;
  height: 591px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-text6 {
  color: var(--dl-color-gray-black);
  width: auto;
  height: auto;
  font-size: 55px;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  line-height: 5;
}
.page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 313px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius2);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.page-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.page-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.page-image2 {
  width: 106px;
  height: 108px;
  object-fit: cover;
}
.page-container10 {
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: flex-start;
}
.page-text7 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.page-text7:hover {
  color: var(--dl-color-turquoise-default);
}
.page-link4 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link4:hover {
  color: var(--dl-color-turquoise-default);
}
.page-link5 {
  transition: 0.3s;
  white-space: nowrap;
  text-decoration: none;
}
.page-link5:hover {
  color: var(--dl-color-turquoise-default);
}
.page-divider {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: var(--dl-color-gray-white);
}
.page-container11 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-text8 {
  color: var(--dl-color-gray-300);
  margin-top: var(--dl-space-space-unit);
}
.page-container12 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.page-link6 {
  display: contents;
}
.page-container13 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.page-icon10 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.page-icon10:hover {
  fill: var(--dl-color-turquoise-default);
}
.page-link7 {
  display: contents;
}
.page-container14 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.page-icon12 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.page-icon12:hover {
  fill: var(--dl-color-orange-default);
}
@media(max-width: 767px) {
  .page-container10 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .page-container11 {
    flex-direction: column;
  }
  .page-text8 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page-bot {
    width: 100%;
  }
}
